body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #f2f2f2;
  }
  
  h1, h2, h3, .navbar-brand {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
  }
  
  .btn-danger {
    background-color: #E10600;
    border: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  